.header {
    text-align: center;
    border-bottom: solid 1px #d3d3d3;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #82756A;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    color: #82756A;
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    color: #fff;
    border-bottom: 1px solid #ddd;
    background-color: #BAA899;
    font-weight: 200;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: #82756A;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #82756A;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.form__button-submit2 {
    padding: 10px;
    width: 20%;
    border: none;
    background: none;
    color: #82756A;
    border: none;
    font-size: 20px;
}